<section id="post-cat-new-edit-form">

  <%= render "/shared/add_translations" %>

  <%= form_for @post_category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Save" %>
  <% end %>
</section>