<section id="work-new-edit-form">

  <%= render "/shared/add_translations" %>

  <%= form_for @work do |f| %>

    <%= f.label :name, I18n.locale %>
    <%= f.text_field :name %>

    <%= f.submit "Save" %>
  <% end %>
</section>