<div class="works-form">
  <%= form_for @work do |f| %>

    <%= f.label :name, I18n.locale %>
    <%= f.text_field :name %>

    <%= f.submit "Save" %>
  <% end %>

  <p><%= link_to "back to profile", current_user %></p>
</div>

<h3>You can also add translations in:
<% I18n.available_locales.each do |locale| %>
  <% unless locale == I18n.locale %>
    <%= link_to "#{locale.upcase}", {:locale => locale}, :class => "add-translation" %>  
  <% end %>
<% end %></h3>