<div id="user-show">

	<div class="user-greeting">
		<h1>Welcome, my Admin!</h1>
	</div>	

	<div class="user-possibilities">
		<h1>You can:</h1>

		<div class="possibility-1">
			<h2><%= link_to "create new work", new_work_path %></h2>
			<h2>manage existing works</h2>
				<% @works.each do |work| %>
					<h4><%= link_to work.name, work %></h4>
				<% end %>
			<h2><%= link_to "create new item category", new_post_category_path %></h2>
			<h2>manage existing categories</h2>

			<% @post_categories.each do |post_category| %>
				<%= post_category.name  %>
				<%= link_to "edit", edit_post_category_path(post_category) %>
				<%= link_to "delete", post_category_path(post_category), method: :delete, data: { confirm: "You sure?" } %></p>
			<% end %>			
		</div>

		<div class="possibility-2">		
		</div>
		<div class="clearing"></div>
	</div>	
</div>

