<% provide(:title, "Administration") %>

<div id="user-show">
  <div class="user-possibilities">
    <table>
      <h2>Works</h2>
      <tr><h4><%= link_to "create new work", new_work_path, :class=> "user-links" %></h4></tr>
      <% @works.each do |work| %>
      <tr>
        <td style="padding-right:30px;"><%= work.name %></td>
        <td><%= link_to "show", work, :class=> "user-links" %></td>
        <td><%= link_to "edit", edit_work_path(work), :class=> "user-links" %></td>
        <td><%= link_to "delete", work, method: :delete, data: { confirm: "You sure?" }, :class=> "user-links" %></td>
      </tr>
      <% end %>
    </table>
    <hr />
    <table>
      <h2>Category names</h2>
      <tr><h4><%= link_to "create new item category", new_post_category_path, :class=> "user-links" %></h4></tr>
      <% @post_categories.each do |post_category| %>
        <tr>
          <td style="padding-right:30px;"><%= post_category.name %></td>
          <td><%= link_to "edit", edit_post_category_path(post_category), :class=> "user-links" %></td>
          <td><%= link_to "delete", post_category_path(post_category), method: :delete, data: { confirm: "You sure?" }, :class=> "user-links" %></td> 
      </tr>
      <% end %>
    </table>
  </div>
</div>


