<section id="header">
	<div class="logo">
		<%= link_to (image_tag ("mc_logo.png")), root_path %>
	</div>
	<div class="top_space"><p class="top_label"><%= I18n.t(:greeting) %></p>
		<div class="languages">  
		  <%= link_to "RU", :locale => 'ru' %>
		  <%= link_to "CZ", :locale => 'cs' %>
		  <%= link_to "EN", :locale => 'en' %>	
		</div>
	</div>
	<div id="menu">
		<table>
			<tr>
				<td><%= link_to I18n.t(:menu_works), works_path, :class => "top-menu" %></td>
				<td><%= link_to I18n.t(:menu_about), "/about", :class => "top-menu" %></td>
				<td><%= link_to I18n.t(:menu_contact), "/contact", :class => "top-menu" %></td>	
			</tr>
		</table>	
	</div>
	<div id="all-signout">
		<% if signed_in? %>
			<%= link_to "sign out", sign_out_path, method: "delete" %>  |
			<%= link_to "profile", current_user %>
		<% end %>
	</div>	
</section>	
