<section id="soc-nets">
  <p id="soc-text"><%= I18n.t(:friendship)%></p>
  <div id="soc-icons">
    <a href="#" class="soc-link"><%= image_tag "fb_icon.png", :mouseover => "fb_icon_hover.png" %></a>
    <a href="#" class="soc-link"><%= image_tag "dribbble_icon.png", :mouseover => "dribbble_icon_hover.png" %></a>
    <a href="#" class="soc-link"><%= image_tag "inst_icon.png", :mouseover => "inst_icon_hover.png" %></a>
    <a href="#" class="soc-link"><%= image_tag "tw_icon.png", :mouseover => "tw_icon_hover.png" %></a>
  </div>
</section>