<% provide(:title, "About") %>

<%= render partial: "shared/about_top_picture" %>

<section class="about-container">
	<h1><%= I18n.t(:how_we_work) %></h1>
	
	<p><%= I18n.t(:how_we_work_text_1) %></p>
	<p><%= I18n.t(:how_we_work_text_2) %></p>
	<p><%= I18n.t(:how_we_work_text_3) %></p>

	<h1><%= I18n.t(:things_we_like) %></h1>
			
	<p><%= I18n.t(:things_we_like_text_1) %></p>
	<p><%= I18n.t(:things_we_like_text_2) %></p>
</section>
