<% provide(:title, "About") %>

<%= render partial: "shared/about_top_picture" %>

<section class="about-container">
  
  <div class="contacts_text_bold_padding"><%= I18n.t(:how_we_work) %></div>

  <p><%= I18n.t(:how_we_work_text_1) %></p>
  <p><%= I18n.t(:how_we_work_text_2) %></p>
  <p><%= I18n.t(:how_we_work_text_3) %></p>

  <div class="contacts_text_bold_padding"><%= I18n.t(:things_we_like) %></div>

  <p><%= I18n.t(:things_we_like_text_1) %></p>
  <p><%= I18n.t(:things_we_like_text_2) %></p>
</section>
