<%= render partial: "shared/top_picture" %>

	<section style="width:700px; margin: 50px auto;">
		<h1><%= I18n.t(:write_us) %> <%= mail_to "MIGHT@CREATIONS.CZ", "MIGHT@CREATIONS.CZ", {:class => "pages-links"} %></h1>
		<h1><%= I18n.t(:call_us) %> +420 775 500 447</h1>
		<h1><%= I18n.t(:visit_us) %> <%= link_to "LEGEROVA 39, PRAGUE 2, CZECH REPUBLIC", "http://www.mapy.cz/s/8ax2", {:class => "pages-links"} %> </h1>
	</section>