<%= render partial: "shared/header" %>	

<%= render partial: "shared/top_picture" %>

	<section style="width:700px; margin: 50px auto;">
		<h1>WRITE: <%= mail_to "MIGHT@CREATIONS.CZ", "MIGHT@CREATIONS.CZ", {:class => "pages-links"} %></h1>
		<h1>CALL: +420 775 500 447</h1>
		<h1>VISIT: <%= link_to "LEGEROVA 39, PRAGUE 2, CZECH REPUBLIC", "http://www.mapy.cz/s/8ax2", {:class => "pages-links"} %> </h1>
	</section>


<%= render partial: "shared/socials" %>

<%= render partial: "shared/footer" %>