<%= render partial: "shared/header" %>	

<%= render partial: "shared/top_picture" %>

	<section id="teasers">
		<div id="teasers-wrapper">
			<% @works.each do |work| %>
				<% work.posts.each do |post| %>
					<div class="wrap">
						<% post.photos.each do |ph| %>
							<% if ph.onmain? %>
								<%= image_tag ph.image_url.to_s,  :class => "main-image" %>
							<% end %>
						<% end %>
					<%= link_to post.annotation, work_post_path(work, post), :class=> "teaser-descr" %>
					</div>
				<% end %>	
			<% end %>
		</div>	
		<div class="clear"></div>
	</section>

<%= render partial: "shared/socials" %>

<%= render partial: "shared/footer" %>