<div id="posts">
  <h1>Do it! Make a new post!</h1>
  <div class="newpost-form">
    <%= nested_form_for [@work, @post] do |f| %>
      <% if @post.errors.any? %>
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @post.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <p><%= f.label :title %>
      <%= f.text_field :title %></p>

      <p><%= f.label :subtitle %>
      <%= f.text_field :subtitle %></p>

      <p><%= f.label :annotation %>
      <%= f.text_field :annotation %></p>

      <p><%= f.label :year %>
      <%= f.text_field :year %></p>

      <p><%= f.label :industry %>
      <%= f.text_field :industry %></p>

      <p><%= f.label :task %>
      <%= f.text_field :task %></p> 

      <p><%= f.label :post_category %>
      <%= f.collection_select :post_category, PostCategory.all, :name, :name %></p> 

      <p><%= f.label :description %></p>
      <p><%= f.text_area :description, :class => 'ckeditor' %></p> 

      <%= f.fields_for :photos do |photo| %>
        <div style="background-color: #9a9a9a;">
        <p><%= photo.label "image name" %>
        <%= photo.text_field :name %></p>
        <p><%= photo.file_field :image %>
        <%= photo.link_to_remove "Remove photo" %></p>
        <p>"On main?"<%= photo.check_box :onmain %></p>
        <p>"Show in portfolio?"<%= photo.check_box :portfolio %></p>
        <p>"Fullwidth on top?"<%= photo.check_box :fullwidth %></p>
        <hr />
      </div>
      <% end %>

      <p><%= f.link_to_add "Add a photo", :photos %></p>

      <%= f.submit %>
    <% end %>
  </div>  
</div>