<% provide(:title, "New item in portfolio") %>

<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @post.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :annotation %>
    <%= f.text_field :annotation %>    

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit %>
<% end %>
