<% provide(:title, @post.title) %>

<div style="width:600px; margin:auto;">

	<h1><%= @post.title %></h1>
	<h3><%= @post.year %></h3>
	<h3><%= @post.subtitle %></h3>
	<h3><%= @post.description %></h3>
	<% @post.photos.each do |photo| %>
		<% if photo.portfolio? %>
			<%= image_tag photo.image_url.to_s %>
			<%= photo.name %>
		<% end %>
	<% end %>

</div>

<div style="width:600px; margin:auto; ">
	<%= link_to "edit post", edit_work_post_path(@work, @post) %> | <%= link_to "back to work", work_path(@work) %>
</div>