<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "nested_form" %>
  <%= javascript_include_tag "hover" %>
  <%= javascript_include_tag "lang" %>
  <%= csrf_meta_tags %>
 
</head>

<body>
  <% if signed_in? %>
    <nav id="admin-navigation">
      <section id="admin-pages">
        <% unless current_page?("/admin") %>
        <ul>
          <li><%= link_to "Admin page", "/admin" %></li>
          <li><%= link_to "Post categories", "/admin/categories" %></li>
          <li><%= link_to "Works", "/admin/works" %></li>
          <li><%= link_to "Posts", "/admin/posts" %></li>
          <li><%= link_to "Users", "/admin/users" %></li>
        </ul>
        <% end %>
      </section>
      <section id="admin-actions">        
        <ul>
          <li><%= link_to "sign out", sign_out_path, method: 'delete' %></li>
          <li><%= link_to "home", root_url %></li>
          <% unless current_page?("/admin") %>
            <li><%= link_to "main admin", "/admin" %></li>
          <% end %>
        </ul>        
      </section>
      <section id="admin-cleaner"></section>
    </nav>
  <% end %>

  <%= yield %>

</body>
</html>
