<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "nested_form" %>
  <%= javascript_include_tag "hover" %>
  <%= javascript_include_tag "lang" %>
  <%= csrf_meta_tags %>
 
</head>
<body class="bg_image1">
  <%= render partial: "shared/header" %>  
  
  <%= yield %>

  <%= render partial: "shared/socials" %>
  <%= render partial: "shared/footer" %>

</body>
</html>
